
<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style type="text/css">

#a{
  border-left: 6px solid green;
  height: 800px;
  position: absolute;
  left: 50%;
  margin-left: -450px;

  top: 1;
}
  button{
  	border:2px solid green;
  	background-color:white;
  	padding:10px;
  	margin:10px 0px 10px 0px;
  }
  .textarea1{
  	margin-left:250px;
  	margin-top:20px;

  }
  .textarea2{
  	 margin-top:-150px;
  margin-left:200px;
  }
  .textarea3{
  	margin-top:0px;
  	margin-left:200px;
  }
  .span1{
  	margin-top:-300px;
  	margin-left:600px;
  }
  .span2{
  	margin-top:-300px;
  	margin-left:250px;
  }

  </style>
  <script type="text/javascript">
  	var app=angular.module('myngapp',[]);
  	app.controller('ctrl',function($scope){
$scope.change=function(){
$scope.co="yellow";
};
$scope.change1=function(){
$scope.co1="green";
};
$scope.change3=function(){
$scope.co="orange";
};
$scope.onClick=function(event){
$scope.clicked="clicked on x: "+event.clientX+" and y: "+event.clientY;
};
$scope.change5=function(){
$scope.co="purple";
};
$scope.fun=function(){

$scope.myvar1=true;
$scope.myvar2=true;
};
$scope.fun1=function(){
$scope.myvar1=false;
$scope.myvar2=false;
};
  	
			$scope.add=function()
			{
				
             $scope.res=$scope.a+$scope.b;
			};
			$scope.sub=function()
			{
				$scope.res=$scope.a-$scope.b;
			};
			$scope.mul=function()
			{
				$scope.res=$scope.a*$scope.b;
			};
			$scope.div=function()
			{
				$scope.res=$scope.a/$scope.b;
			};


		});
  </script>
</head>
<body>
	<fieldset>
<div ng-app="myngapp" class="container-fluid">
	<div ng-controller="ctrl" >
		<textarea rows="4" cols="30" style="border:2px solid red;" class="textarea1" ng-mouseover="onClick(event)" ng-mouseup="count=count+1" ng-mousedown="count1=count1 + 1" ng-init="count=0;count1=0;">{{count}},{{count1}}</textarea><br>
			<button>ng-cut</button><br>
			<button>ng-change</button><br>
			<button>ng-focus</button><br>
				<button>keyUp</button><br>
				<button>Keydown</button><br>
				<button ng-mouseenter="change3()">mouseenter</button><br>
				<div class="span2" id="a">
				<textarea rows="4" cols="30" style="border:2px solid red;" ng-hide="myvar1">Angular js is javascript based open source front-end web framework mainly maintained by google and by community of individuals and corporations to address many of the challanges encountered in developing single-page applications.</textarea><br><br>
				<div ng-show="myvar2">
					<label>Enter first number</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" ng-model="a"><br><br>
    <label>Enter second number</label>&nbsp;<input type="number" ng-model="b"><br><br>
   
		<button ng-click="add()" style="background-color:green;">+</button>
		<button ng-click="sub()" style="background-color:lightblue;">-</button>
		<button ng-click="mul()" style="background-color:orange;">*</button>
		<button ng-click="div()" style="background-color:darkblue;">/</button>
		<h3>The answer is {{res}}</h3><br>
				
</div>
				

<textarea rows="4" cols="30" style="border:2px solid red;background-color:{{co}};color:{{co1}}" ng-blur="change()" ng-focus="change1()">{{clicked}}</textarea><br>
</div>
<div class="span1">
	<button >mouseover</button><br>
	<button>mouseup</button><br>
	<button ng-mouseleave="change5()">mouseleave</button><br>
	<button>mousedown</button><br>
	<button ng-click="fun()" ng-dblclick="fun1()">mouseclick</button>
	

</div>
</div>
</div>
</fieldset>
</body>
</html>